.nav{
    max-width: 1080px;
    margin: auto;
    
}
.highlight_nav_item{
    background-color: black;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.custom_input {
    border-radius: 20px; 
  }